COMPOSE_PROJECT_NAME=agid-forms
COMPOSE_IGNORE_ORPHANS=1
FRONTEND_VERSION=0.2.0
NODE_ENV=development

FRONTEND_HOST=frontend.example.com
HTTP_PORT=9999

HASURA_GRAPHQL_ENDPOINT=https://graphql.example.com/v1/graphql
HASURA_GRAPHQL_ADMIN_SECRET=foobar
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=anonymous

GATSBY_HASURA_GRAPHQL_ENDPOINT=https://graphql.example.com/v1/graphql
GATSBY_BACKEND_ENDPOINT=https://backend.example.com/api/v1

GOOGLE_ANALYTICS_TRACKING_ID=UA-XXXXXXXXX
