@import "bootstrap-italia/src/scss/bootstrap-italia.scss";

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    .shadow#{$infix} {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
}

// responsive borders
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .border#{$infix}-top {
      border-top: $border-width solid $border-color;
    }

    .border#{$infix}-right {
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-bottom {
      border-bottom: $border-width solid $border-color;
    }

    .border#{$infix}-left {
      border-left: $border-width solid $border-color;
    }

    .border#{$infix}-top-0 {
      border-top: 0 !important;
    }

    .border#{$infix}-right-0 {
      border-right: 0 !important;
    }

    .border#{$infix}-bottom-0 {
      border-bottom: 0 !important;
    }

    .border#{$infix}-left-0 {
      border-left: 0 !important;
    }

    .border#{$infix}-x {
      border-left: $border-width solid $border-color;
      border-right: $border-width solid $border-color;
    }

    .border#{$infix}-y {
      border-top: $border-width solid $border-color;
      border-bottom: $border-width solid $border-color;
    }
  }
}

// @media (min-width: 768px) {
//   body {
//     background-color: #e7f1fa;
//   }
// }

.page-container {
  min-height: 40vh;
}

.u-layout-releaseFull {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.w-paragraph-sans {
  max-width: 34em;
}

.w-paragraph {
  max-width: 34em;
  color: #455B71;
  font-family: Lora, Georgia, serif;
}

.main-content li {
  max-width: 34em;
  font-family: Lora, Georgia, serif;
}

.megamenu-list {
  display: inline-block;
}

.two-columns {
  @include media-breakpoint-up(md) {
    columns: 2;
    column-gap: 4em;
    column-count: 2;
  }
}

.megamenu-list li {
  list-style: none;
}

.align-p-center p {
  margin: auto;
}

.breadcrumb {
  box-shadow: 0 0 120px 0 rgba(0,0,0,.1);
}

.circle {
  border-radius: 100%;
  border: 1px solid #06c;
  color: #06c;
  font-weight: 600;
  text-align: center;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  width: 3em;
  height: 3em;
  line-height: 80%;
  margin-right: 1em;
}

.font-weight-600 {
  font-weight: 600 !important;
}

.font-variant-small-caps {
  font-variant: small-caps;
}

@media (min-width: 992px) {
  .font-size-xs {
    font-size: 16px !important;
  }
}

@media (min-width: 992px) {
  .font-size-xxs {
    font-size: 14px !important;
  }
}

.text-spaced-xs {
  letter-spacing: 1px;
}

.font-weight-300 {
  font-weight: 300 !important;
}

.card::after {
  margin-top: 0 !important;
}

.card .card-body li {
  font-size: 0.775rem;
}

@media (min-width: 992px) {
  .card .card-body p {
    font-size: 0.95rem;
  }
}

.main-content h1 {
  max-width: 12em;
}
.centered h1 {
  margin: auto;
}

.form-check [type='checkbox'] + label, .form-check [type='radio'] + label {
  height: auto !important;
}

input[type=text],
input[type=password],
input[type=date],
input[type=email],
input[type=number],
.react-select {
  max-width: 30em;
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #67696B;
}

.link-list-wrapper ul li a span {
  line-height: 1.5;
}
.link-list-wrapper ul li a.active span {
  font-weight: 700;
  text-decoration: none;
}
.link-list-wrapper ul li:first-of-type a span {
  color: #2f3133;
}

a:focus,
.dropdown-item:focus,
.focusable:focus-within,
.form-check input:focus,
.form-check label.form-check-label:focus,
.form-check textarea:focus {
  border-color: #ff9900;
  box-shadow: 0 0 6px 2px #ff9900 !important;
  outline: none;
}

.dropdown-item:hover, .dropdown-item:focus {
  background-color: transparent !important;
}

@media (min-width: 992px) {
  .it-header-slim-wrapper {
    height: auto;
    min-height: 48px;
    padding: 2px 0;
  }
}

.it-header-slim-wrapper {
  background-color: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.it-header-slim-wrapper .it-header-slim-wrapper-content a:hover {
  color: white;
}

a.bg-white:hover {
  background-color: white !important;
}

/* menu */

.megamenu-top-links {
  margin-bottom: -0.5em;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.megamenu-top-links > li {
  background-color: #fff;
  border-right: 1px solid #ddd;
}

.megamenu-top-links > li:active {
  border-bottom: 4px solid #0066cc;
}

.megamenu-top-links > li:first-child,
.megamenu-top-links > li:first-child > a {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.megamenu-top-links > li:last-child,
.megamenu-top-links > li:last-child > a {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  border-right: none;
}

.megamenu-top-links .nav-link {
  padding: 0.2em;
  color: #455B71 !important;
}

.nav-link--active {
  border-bottom: 4px solid #0066cc !important;
}

/* select */

.react-select input {
  font-weight: 600 !important;
}

.react-select [class*="singleValue"] {
  font-weight: 600 !important;
}

.react-select [class*="control"] > div > div:not([class*="placeholder"]),
.react-select [class*="control"] > div > div:not([class*="placeholder"]) > div,
.react-select [class*="control"] > div > div:not([class*="placeholder"]) > div > input {
  width: 100% !important;
}

.react-select > div {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  border-bottom: 1px solid #5c6f82 !important;
}

.react-select:focus,
.react-select [class*="control"]:focus,
.react-select [class*="control"] > div:focus,
.react-select [class*="control"]:hover,
.react-select [class*="control"] > div:hover {
    outline: none !important;
    border-color: transparent !important;
    border-bottom-color: #5c6f82 !important;
    box-shadow: none !important;
}

.react-select [class*="control"] {
  border-radius: 0%;
}

.react-select [class*="control"] > div {
  padding: 0 0.5rem;
}

.react-select [class*="indicatorSeparator"] {
  background-color: transparent !important;
}

/* form */

textarea.form-control {
  border: 1px solid #ccc;
  min-height: 9em;
  padding: 0.5em !important;
  font-size: 16px;
}

/* customization */

// .it-header-navbar-wrapper {
//   min-height: 450px;
//   margin-bottom: -380px;
// }
// .main {
//   position: relative;
//   z-index: 1;
// }
// @media (min-width: 768px) {
//   .main-title {
//     color: white;
//   }
// }

.it-header-wrapper {
  background: linear-gradient(58.17deg, #3025FA 0.03%, rgba(36,29,174,0.9) 15.19%, #0D00FF 100%);
}

.it-header-navbar-wrapper,
.it-header-slim-wrapper,
.it-header-center-wrapper {
  background-color: transparent;
}

.navbar .navbar-collapsable {
  z-index: 1;
}

/* view template */

.view-section:not(:last-child) {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 800px;
  }
}

.modal .modal-dialog .modal-content .modal-body p {
  font-size: 18px;
}

.skiplinks a {
  color: black !important;
}

/* external links */

a.external:link
{
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Ctitle%3EExternal Link%3C/title%3E%3Cg%3E%3Cpath d='M21,3V9H20V4.7l-7.6,7.7-.8-.8L19.3,4H15V3ZM17,19.5a.5.5,0,0,1-.5.5H4.5a.5.5,0,0,1-.5-.5V7.5A.5.5,0,0,1,4.5,7H12V6H4.5A1.5,1.5,0,0,0,3,7.5v12A1.5,1.5,0,0,0,4.5,21h12A1.5,1.5,0,0,0,18,19.5V12H17Z' /%3E%3C/g%3E%3Cg%3E%3Crect width='24' height='24' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A") no-repeat right top;
  padding-right: 1.5em;
}
