{"swagger":"2.0","schemes":["https"],"info":{"description":"This is a JSON API compliant implemenation","title":"drupal-headless - JSON API","version":"Versioning not supported"},"host":"drupal.danilospinelli.com","basePath":"\/jsonapi","securityDefinitions":{"jwt_auth":{"type":"unknown","description":"Unknown Authentication Provider"},"oauth2":{"type":"oauth2","flow":"password","tokenUrl":"https:\/\/drupal.danilospinelli.com\/oauth\/token"},"cookie":{"type":"cookie","in":"cookie","name":"JSESSIONID"},"csrf_token":{"type":"apiKey","name":"X-CSRF-Token","in":"header","tokenUrl":"https:\/\/drupal.danilospinelli.com\/user\/token"}},"security":{"jwt_auth":[],"oauth2":[],"cookie":[],"csrf_token":[]},"tags":[{"name":"Blocco","description":"Configuration entity Blocco"},{"name":"Consumer"},{"name":"Content moderation state"},{"name":"Ritaglia - Freeform","description":"Crop type Freeform of type Ritaglia.","x-entity-type":"crop","x-definition":{"$ref":"#\/definitions\/crop--freeform"}},{"name":"Crop type","description":"Configuration entity Crop type"},{"name":"Editor di testo","description":"Configuration entity Editor di testo"},{"name":"Embed button","description":"Configuration entity Embed button"},{"name":"Entity browser","description":"Configuration entity Entity browser"},{"name":"Campo","description":"Configuration entity Campo"},{"name":"Memorizzazione campo","description":"Configuration entity Memorizzazione campo"},{"name":"File"},{"name":"Formato del testo","description":"Configuration entity Formato del testo"},{"name":"Stile immagine","description":"Configuration entity Stile immagine"},{"name":"Key","description":"Configuration entity Key"},{"name":"Key Configuration Override","description":"Configuration entity Key Configuration Override"},{"name":"Impostazioni per la lingua dei contenuti","description":"Configuration entity Impostazioni per la lingua dei contenuti"},{"name":"Lingua","description":"Configuration entity Lingua"},{"name":"Media type","description":"Configuration entity Media type"},{"name":"Media - Audio file","description":"Media type Audio file of type Media. A locally hosted audio file, such as an MP3.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--audio_file"}},{"name":"Media - Document","description":"Media type Document of type Media. A locally hosted document, such as a PDF.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--document"}},{"name":"Media - Image","description":"Media type Image of type Media. Locally hosted images.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--image"}},{"name":"Media - Instagram","description":"Media type Instagram of type Media. Instagram posts.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--instagram"}},{"name":"Media - Tweet","description":"Media type Tweet of type Media. Represents a tweet.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--tweet"}},{"name":"Media - Video","description":"Media type Video of type Media. A video hosted by YouTube, Vimeo, or some other provider.","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--video"}},{"name":"Media - Video file","description":"Media type Video file of type Media. A locally hosted video file","x-entity-type":"media","x-definition":{"$ref":"#\/definitions\/media--video_file"}},{"name":"Contenuto - Pagina base","description":"Tipo di contenuto Pagina base of type Contenuto. Utilizza \u003Cem\u003Epagine di base\u003C\/em\u003E per i tuoi contenuti statici come ad esempio per una pagina \u0027Chi siamo\u0027.","x-entity-type":"node","x-definition":{"$ref":"#\/definitions\/node--page"}},{"name":"Tipo di contenuto","description":"Configuration entity Tipo di contenuto"},{"name":"Page Variant","description":"Configuration entity Page Variant"},{"name":"Page","description":"Configuration entity Page"},{"name":"Shortcut set","description":"Configuration entity Shortcut set"},{"name":"Shortcut link - Predefinito","description":"Shortcut set Predefinito of type Shortcut link.","x-entity-type":"shortcut","x-definition":{"$ref":"#\/definitions\/shortcut--default"}},{"name":"OAuth2 Token Type","description":"Configuration entity OAuth2 Token Type"},{"name":"OAuth2 token - Access Token","description":"Token type Access Token of type OAuth2 token. The access token type.","x-entity-type":"oauth2_token","x-definition":{"$ref":"#\/definitions\/oauth2_token--access_token"}},{"name":"OAuth2 token - Auth code","description":"Token type Auth code of type OAuth2 token. The auth code type.","x-entity-type":"oauth2_token","x-definition":{"$ref":"#\/definitions\/oauth2_token--auth_code"}},{"name":"OAuth2 token - Refresh token","description":"Token type Refresh token of type OAuth2 token. The refresh token type.","x-entity-type":"oauth2_token","x-definition":{"$ref":"#\/definitions\/oauth2_token--refresh_token"}},{"name":"Azione","description":"Configuration entity Azione"},{"name":"Menu","description":"Configuration entity Menu"},{"name":"Vocabolario della tassonomia","description":"Configuration entity Vocabolario della tassonomia"},{"name":"User"},{"name":"Ruolo","description":"Configuration entity Ruolo"},{"name":"Workflow","description":"Configuration entity Workflow"},{"name":"Link personalizzato nel menu"},{"name":"Pathauto pattern","description":"Configuration entity Pathauto pattern"},{"name":"View","description":"Configuration entity View"},{"name":"Sovrascrittura campo base","description":"Configuration entity Sovrascrittura campo base"},{"name":"Formato data","description":"Configuration entity Formato data"},{"name":"Visualizzazione del form dell\u0027entit\u00e0","description":"Configuration entity Visualizzazione del form dell\u0027entit\u00e0"},{"name":"Visualizzazione dell\u0027entit\u00e0","description":"Configuration entity Visualizzazione dell\u0027entit\u00e0"},{"name":"Modalit\u00e0 form","description":"Configuration entity Modalit\u00e0 form"},{"name":"Modo di visualizzazione","description":"Configuration entity Modo di visualizzazione"}],"definitions":{"consumer--consumer":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["consumer--consumer"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"label":{"type":"string","title":"Etichetta","maxLength":255,"description":"The consumer label."},"description":{"type":"string","title":"Descrizione","description":"A description of the consumer. This text will be shown to the users to authorize sharing their data to create an access token."},"third_party":{"type":"boolean","title":"Is this consumer 3rd party?","description":"Mark this if the organization behind this consumer is not the same as the one behind the Drupal API.","default":true},"is_default":{"type":"boolean","title":"Is this the default consumer?","description":"There can only be one default consumer. Mark this to use this consumer when none other applies.","default":false},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"secret":{"type":"object","properties":{"value":{"type":"string","title":"La password codificata","maxLength":255},"existing":{"type":"string","title":"Password attuale"},"pre_hashed":{"type":"boolean","title":"Determines if a password needs hashing"}},"title":"Secret","description":"The secret key of this client (hashed)."},"confidential":{"type":"boolean","title":"Is Confidential?","description":"A boolean indicating whether the client secret needs to be validated or not.","default":true},"redirect":{"type":"uri","title":"Redirect URI","maxLength":255,"description":"The URI this client will redirect to when needed."}},"required":["id","uuid","label"]},"relationships":{"description":"Entity relationships","properties":{"owner_id":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"ID utente"},"image":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Logo"},"roles":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user_role--user_role"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}}},"title":"Scopes"},"user_id":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"User"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"consumer Schema","description":"Describes the payload for \u0027consumer\u0027 entities."},"content_moderation_state--content_moderation_state":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["content_moderation_state--content_moderation_state"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"revision_id":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of the referenced content."},"content_entity_type_id":{"type":"string","title":"Content entity type ID","maxLength":32,"description":"The ID of the content entity type this moderation state is for."},"content_entity_id":{"type":"integer","title":"Content entity ID","description":"The ID of the content entity this moderation state is for."},"content_entity_revision_id":{"type":"integer","title":"Content entity revision ID","description":"The revision ID of the content entity this moderation state is for."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."}},"required":["id","uuid","revision_id","moderation_state","content_entity_type_id","content_entity_id","content_entity_revision_id","revision_translation_affected"]},"relationships":{"description":"Entity relationships","properties":{"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"User"},"workflow":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["workflow--workflow"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Workflow"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"content_moderation_state Schema","description":"Describes the payload for \u0027content_moderation_state\u0027 entities."},"crop--freeform":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["crop--freeform"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"cid":{"type":"integer","title":"Crop ID","description":"The crop ID."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"The crop UUID."},"vid":{"type":"integer","title":"ID revisione","description":"The crop revision ID."},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Codice della lingua","description":"The node language code."},"entity_id":{"type":"integer","title":"ID Entit\u00e0","description":"ID of entity crop belongs to."},"entity_type":{"type":"string","title":"Tipo di entit\u00e0","maxLength":255,"description":"The type of entity crop belongs to."},"uri":{"type":"uri","title":"URI","maxLength":255,"description":"The URI of the image crop belongs to."},"height":{"type":"integer","title":"Altezza","description":"The crop height."},"width":{"type":"integer","title":"Larghezza","description":"The crop width."},"x":{"type":"integer","title":"X coordinate","description":"The crop\\\u0027s X coordinate."},"y":{"type":"integer","title":"Y coordinate","description":"The crop\\\u0027s Y coordinate."},"revision_timestamp":{"type":"number","title":"Data e ora della revisione","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log":{"type":"string","title":"Revision Log","description":"La registrazione sul log che spiega le modifiche in questa revisione."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}}},"required":["cid","uuid","vid","entity_id","entity_type","height","width","x","y","revision_translation_affected"]},"relationships":{"description":"Entity relationships","properties":{"type":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["crop_type--crop_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Tipo"},"revision_uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision author ID"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"crop:freeform Schema","description":"Describes the payload for \u0027crop\u0027 entities of the \u0027freeform\u0027 bundle."},"file--file":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"fid":{"type":"integer","title":"ID file","description":"ID del file."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"UUID del file."},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Codice della lingua","description":"Codice lingua del file."},"filename":{"type":"string","title":"Nome file","maxLength":255,"description":"Nome del file senza componenti del percorso."},"uri":{"type":"object","properties":{"value":{"type":"uri","title":"Valore URI","maxLength":255},"url":{"type":"string","title":"Root-relative file URL"}},"required":["value","url"],"title":"URI","description":"L\\\u0027 URI per accedere al file (locale o remoto)."},"filemime":{"type":"string","title":"Tipo MIME del file","maxLength":255,"description":"Tipo MIME del file."},"filesize":{"type":"integer","title":"Dimensione file","description":"La dimensione del file in bytes."},"status":{"type":"boolean","title":"Stato","description":"Gli stati del file, temporaneo (FALSE) e permanente (TRUE)","default":false},"created":{"type":"number","title":"Created","format":"utc-millisec","description":"Data e ora in cui il file \u00e8 stato creato."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"Data e ora in cui il file \u00e8 stato modificato."}},"required":["fid","uuid"]},"relationships":{"description":"Entity relationships","properties":{"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"ID utente"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"file Schema","description":"Describes the payload for \u0027file\u0027 entities."},"media--audio_file":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--audio_file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"},"field_media_audio_file":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Audio file"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:audio_file Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027audio_file\u0027 bundle."},"media--document":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--document"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"},"field_document":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Document"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:document Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027document\u0027 bundle."},"media--image":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--image"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"},"image":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Image"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:image Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027image\u0027 bundle."},"media--instagram":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--instagram"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"embed_code":{"type":"string","title":"Instagram post","description":"Paste media post URL or embed code."},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path","embed_code"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:instagram Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027instagram\u0027 bundle."},"media--tweet":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--tweet"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"embed_code":{"type":"string","title":"Tweet","description":"Paste tweet\\\u0027s URL or embed code."},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path","embed_code"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:tweet Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027tweet\u0027 bundle."},"media--video":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--video"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1},"field_media_video_embed_field":{"type":"string","title":"Video URL"}},"required":["mid","uuid","vid","name","revision_translation_affected","path","field_media_video_embed_field"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:video Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027video\u0027 bundle."},"media--video_file":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["media--video_file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"mid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_created":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log_message":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Pubblicato","default":true},"name":{"type":"string","title":"Name","maxLength":255,"default":""},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"The time the media item was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time the media item was last edited."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_media_in_library":{"type":"boolean","title":"Show in media library","default":1}},"required":["mid","uuid","vid","name","revision_translation_affected","path"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["media_type--media_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Media type"},"revision_user":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"thumbnail":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Miniatura"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"},"field_media_video_file":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["file--file"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Video file"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"media:video_file Schema","description":"Describes the payload for \u0027media\u0027 entities of the \u0027video_file\u0027 bundle."},"node--page":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["node--page"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"nid":{"type":"integer","title":"ID"},"uuid":{"type":"string","title":"UUID","maxLength":128},"vid":{"type":"integer","title":"ID revisione"},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua"},"revision_timestamp":{"type":"number","title":"Revision create time","format":"utc-millisec","description":"La data e l\\\u0027ora in cui la revisione corrente \u00e8 stata creata"},"revision_log":{"type":"string","title":"Revision log message","description":"Descrivere brevemente le modifiche apportate.","default":""},"status":{"type":"boolean","title":"Stato di pubblicazione","description":"A boolean indicating whether the node is published.","default":0},"title":{"type":"string","title":"Titolo","maxLength":255},"created":{"type":"number","title":"Creato il","format":"utc-millisec","description":"Data e ora in cui il nodo \u00e8 stato creato."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"Data e ora in cui il nodo \u00e8 stato modificato l\\\u0027ultima volta."},"promote":{"type":"boolean","title":"Promoted to front page","default":0},"sticky":{"type":"boolean","title":"Sempre in cima agli elenchi","default":false},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"revision_default":{"type":"boolean","title":"Default revision","description":"A flag indicating whether this was a default revision when it was saved."},"revision_translation_affected":{"type":"boolean","title":"Traduzione della revisione interessata","description":"Indica se l\\\u0027ultima modifica di una traduzione fa riferimento alla revisione attuale."},"moderation_state":{"type":"string","title":"Moderation state","maxLength":255,"description":"The moderation state of this piece of content."},"scheduled_transition_date":{"type":"array","items":{"type":"object","properties":{"value":{"type":"string","title":"Valore della data","format":"date"}},"required":["value"]}},"scheduled_transition_state":{"type":"array","items":{"type":"string","title":"Valore testuale","maxLength":255}},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"},"field_altro_booleano":{"type":"boolean","title":"Altro Booleano","default":0},"field_altro_testo_semplice":{"type":"string","title":"Altro Testo semplice","maxLength":255},"field_campo_booleano":{"type":"boolean","title":"Campo booleano","default":0},"field_testo_semplice":{"type":"string","title":"Testo semplice"}},"required":["nid","uuid","vid","title","revision_translation_affected","path"]},"relationships":{"description":"Entity relationships","properties":{"type":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["node_type--node_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Tipo di contenuto"},"revision_uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Revision user"},"uid":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Creato da"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"node:page Schema","description":"Utilizza pagine di base per i tuoi contenuti statici come ad esempio per una pagina \\\u0027Chi siamo\\\u0027."},"shortcut--default":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["shortcut--default"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID","description":"L\\\u0027ID della scorciatoia."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"UUID della scorciatoia."},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua","description":"Codice lingua della scorciatoia"},"title":{"type":"string","title":"Name","maxLength":255,"description":"Il nome della scorciatoia."},"weight":{"type":"integer","title":"Peso","description":"Weight among shortcuts in the same shortcut set."},"link":{"type":"object","properties":{"uri":{"type":"uri","title":"URI"},"title":{"type":"string","title":"Testo del collegamento"}},"title":"Percorso","description":"La posizione a cui punta questa scorciatoia."},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true}},"required":["id","uuid","title","link"]},"relationships":{"description":"Entity relationships","properties":{"shortcut_set":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["shortcut_set--shortcut_set"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Shortcut set"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"shortcut:default Schema","description":"Describes the payload for \u0027shortcut\u0027 entities of the \u0027default\u0027 bundle."},"oauth2_token--access_token":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["oauth2_token--access_token"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID","description":"The ID of the Access Token entity."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"The UUID of the Access Token entity."},"value":{"type":"string","title":"Token","maxLength":128,"description":"The token value."},"created":{"type":"number","title":"Created","format":"utc-millisec","description":"The time that the entity was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time that the entity was last edited."},"expire":{"type":"number","title":"Expire","format":"utc-millisec","description":"The time when the token expires."},"status":{"type":"boolean","title":"Stato di pubblicazione","description":"A boolean indicating whether the token is available.","default":true}},"required":["id","uuid","value","expire"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["oauth2_token_type--oauth2_token_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Bundle"},"auth_user_id":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"User"},"client":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["consumer--consumer"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Client"},"scopes":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user_role--user_role"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}}},"title":"Scopes"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"oauth2_token:access_token Schema","description":"Describes the payload for \u0027oauth2_token\u0027 entities of the \u0027access_token\u0027 bundle."},"oauth2_token--auth_code":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["oauth2_token--auth_code"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID","description":"The ID of the Access Token entity."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"The UUID of the Access Token entity."},"value":{"type":"string","title":"Token","maxLength":128,"description":"The token value."},"created":{"type":"number","title":"Created","format":"utc-millisec","description":"The time that the entity was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time that the entity was last edited."},"expire":{"type":"number","title":"Expire","format":"utc-millisec","description":"The time when the token expires."},"status":{"type":"boolean","title":"Stato di pubblicazione","description":"A boolean indicating whether the token is available.","default":true}},"required":["id","uuid","value","expire"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["oauth2_token_type--oauth2_token_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Bundle"},"auth_user_id":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"User"},"client":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["consumer--consumer"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Client"},"scopes":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user_role--user_role"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}}},"title":"Scopes"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"oauth2_token:auth_code Schema","description":"Describes the payload for \u0027oauth2_token\u0027 entities of the \u0027auth_code\u0027 bundle."},"oauth2_token--refresh_token":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["oauth2_token--refresh_token"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID","description":"The ID of the Access Token entity."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"The UUID of the Access Token entity."},"value":{"type":"string","title":"Token","maxLength":128,"description":"The token value."},"created":{"type":"number","title":"Created","format":"utc-millisec","description":"The time that the entity was created."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"The time that the entity was last edited."},"expire":{"type":"number","title":"Expire","format":"utc-millisec","description":"The time when the token expires."},"status":{"type":"boolean","title":"Stato di pubblicazione","description":"A boolean indicating whether the token is available.","default":true}},"required":["id","uuid","value","expire"]},"relationships":{"description":"Entity relationships","properties":{"bundle":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["oauth2_token_type--oauth2_token_type"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Bundle"},"auth_user_id":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"User"},"client":{"type":"object","properties":{"data":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["consumer--consumer"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}},"title":"Client"},"scopes":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user_role--user_role"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}}},"title":"Scopes"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"oauth2_token:refresh_token Schema","description":"Describes the payload for \u0027oauth2_token\u0027 entities of the \u0027refresh_token\u0027 bundle."},"user--user":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["user--user"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"uid":{"type":"integer","title":"ID utente","description":"ID dell\\\u0027utente."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"UUID dell\\\u0027utente."},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Codice della lingua","description":"Codice della lingua dell\\\u0027utente."},"preferred_langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Codice della lingua preferita","description":"Il codice della lingua preferita dall\\\u0027utente per la ricezione delle e-mail e per i contenuti del sito."},"preferred_admin_langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Codice lingua preferita per l\u0027amministrazione","description":"Codice della lingua preferita dall\\\u0027utente per visualizzare le pagine amministrative.","default":""},"name":{"type":"string","title":"Name","maxLength":255,"description":"Nome di questo utente."},"pass":{"type":"object","properties":{"value":{"type":"string","title":"La password codificata","maxLength":255},"existing":{"type":"string","title":"Password attuale"},"pre_hashed":{"type":"boolean","title":"Determines if a password needs hashing"}},"title":"Password","description":"La password di questo utente (hashed)."},"mail":{"type":"string","title":"E-mail","format":"email","description":"E-mail di questo utente.","default":""},"timezone":{"type":"string","title":"Fuso orario","maxLength":32,"description":"Il fuso orario di questo utente."},"status":{"type":"boolean","title":"Stato utente","description":"Se l\u2019utente sia attivo o bloccato.","default":false},"created":{"type":"number","title":"Created","format":"utc-millisec","description":"Data e ora nella quale il profilo dell\\\u0027utente \u00e8 stato creato."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"Data e ora nella quale il profilo dell\\\u0027utente \u00e8 stato modificato l\\\u0027ultima volta."},"access":{"type":"number","title":"Ultimo accesso","format":"utc-millisec","description":"The time that the user last accessed the site.","default":0},"login":{"type":"number","title":"Ultimo login","format":"utc-millisec","description":"Data e ora nella quale l\\\u0027utente si \u00e8 autenticato l\\\u0027ultima volta.","default":0},"init":{"type":"string","title":"E-mail iniziale","format":"email","description":"Indirizzo e-mail utilizzato per la creazione del profilo.","default":""},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true},"path":{"type":"object","properties":{"alias":{"type":"string","title":"Alias di percorso"},"pid":{"type":"integer","title":"Id percorso"},"langcode":{"type":"string","title":"Language Code"},"pathauto":{"type":"integer","title":"Pathauto state","description":"Whether an automated alias should be created or not."}},"required":["pathauto"],"title":"Alias URL"}},"required":["uid","uuid","name","path"]},"relationships":{"description":"Entity relationships","properties":{"roles":{"type":"object","properties":{"data":{"type":"array","items":{"type":"object","required":["type","id"],"properties":{"type":{"type":"string","title":"Referenced resource","enum":["user_role--user_role"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128}}}}},"title":"Ruoli"}},"type":"object"},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"user Schema","description":"Describes the payload for \u0027user\u0027 entities."},"menu_link_content--menu_link_content":{"type":"object","required":["data"],"additionalProperties":false,"properties":{"data":{"type":"object","properties":{"type":{"type":"string","title":"type","description":"Resource type","enum":["menu_link_content--menu_link_content"]},"id":{"type":"string","title":"Resource ID","format":"uuid","maxLength":128},"attributes":{"description":"Entity attributes","type":"object","properties":{"id":{"type":"integer","title":"ID Entit\u00e0","description":"The entity ID for this menu link content entity."},"uuid":{"type":"string","title":"UUID","maxLength":128,"description":"The content menu link UUID."},"langcode":{"type":"object","properties":{"value":{"type":"string","title":"Codice della lingua"},"language":{"type":"language_reference","title":"Oggetto lingua","description":"La lingua indicata."}},"required":["value"],"title":"Lingua","description":"Codice lingua del collegamento del link nel menu."},"bundle":{"type":"string","title":"Link personalizzato nel menu bundle","maxLength":32,"description":"The content menu link bundle."},"enabled":{"type":"boolean","title":"Attivato","description":"Opzione indicante quando i link debbano essere attivati o nascosti nei menu.","default":true},"title":{"type":"string","title":"Titolo del link sul menu","maxLength":255,"description":"Il testo da utilizzare nel menu per questo link."},"description":{"type":"string","title":"Descrizione","maxLength":255,"description":"Visualizzato quando il cursore del mouse passa sopra questa voce del menu."},"menu_name":{"type":"string","title":"Nome del menu","maxLength":255,"description":"Il nome del menu. Tutti i link con lo stesso nome del menu (ad esempio \\\u0022strumenti\\\u0022) fanno parte dello stesso menu.","default":"tools"},"link":{"type":"object","properties":{"uri":{"type":"uri","title":"URI"},"title":{"type":"string","title":"Testo del collegamento"}},"title":"Link","description":"La destinazione a cui punta questo link."},"external":{"type":"boolean","title":"Esterna","description":"indicatore segnalante se il collegamento punta ad un URL completo a partire da un protocollo, come http:\/\/ (1 = esterno, 0 = interno).","default":false},"rediscover":{"type":"boolean","title":"Indicates whether the menu link should be rediscovered","default":false},"weight":{"type":"integer","title":"Peso","description":"La voce del menu ha un peso tra le voci che si trovano allo stesso livello. Nel menu, le voci con un peso superiore affonderanno, mentre le voci con un peso basso saranno posizionate vicino alla cima.","default":0},"expanded":{"type":"boolean","title":"Mostra figli","description":"Quando selezionato e se la voce del menu ha dei figli, questi saranno sempre mostrati.","default":false},"parent":{"type":"string","title":"Parent plugin ID","maxLength":255,"description":"The ID of the parent menu link plugin, or empty string when at the top level of the hierarchy."},"changed":{"type":"number","title":"Changed","format":"utc-millisec","description":"Data e ora in cui il link \u00e8 stato modificato"},"default_langcode":{"type":"boolean","title":"Traduzione di default","description":"Un campo che indica se questa \u00e8 la traduzione predefinita.","default":true}},"required":["id","uuid","bundle","title","link"]},"links":{"type":"object","description":"Entity links","properties":{"self":{"type":"string","format":"uri","description":"The absolute link to this entity."}}}}}},"title":"menu_link_content Schema","description":"Describes the payload for \u0027menu_link_content\u0027 entities.","discriminator":"bundle"}},"consumes":["application\/vnd.api+json"],"produces":["application\/vnd.api+json"],"paths":{"\/action\/action":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Azione"],"responses":{"200":{"description":"successful operation"}}}},"\/action\/action\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the action action"}],"tags":["Azione"],"responses":{"200":{"description":"successful operation"}}}},"\/base_field_override\/base_field_override":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Sovrascrittura campo base"],"responses":{"200":{"description":"successful operation"}}}},"\/base_field_override\/base_field_override\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the base_field_override base_field_override"}],"tags":["Sovrascrittura campo base"],"responses":{"200":{"description":"successful operation"}}}},"\/block\/block":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Blocco"],"responses":{"200":{"description":"successful operation"}}}},"\/block\/block\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the block block"}],"tags":["Blocco"],"responses":{"200":{"description":"successful operation"}}}},"\/configurable_language\/configurable_language":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Lingua"],"responses":{"200":{"description":"successful operation"}}}},"\/configurable_language\/configurable_language\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the configurable_language configurable_language"}],"tags":["Lingua"],"responses":{"200":{"description":"successful operation"}}}},"\/consumer\/consumer":{"post":{"summary":"collection post","description":"@todo Add descriptions","parameters":[{"name":"body","in":"body","description":"The consumer object","required":true,"schema":{"$ref":"#\/definitions\/consumer--consumer"}}],"tags":["Consumer"],"responses":[]}},"\/consumer\/consumer\/{entity}\/{file_field_name}":{"post":{"summary":"file_upload post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{file_field_name}":{"post":{"summary":"file_upload post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/image":{"get":{"summary":"image get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/relationships\/image":{"post":{"summary":"image post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}":{"patch":{"summary":"individual patch","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":[]}},"\/consumer\/consumer\/{entity}\/owner_id":{"get":{"summary":"owner_id get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/relationships\/owner_id":{"post":{"summary":"owner_id post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/roles":{"get":{"summary":"roles get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/relationships\/roles":{"post":{"summary":"roles post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/user_id":{"get":{"summary":"user_id get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/consumer\/consumer\/{entity}\/relationships\/user_id":{"post":{"summary":"user_id post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the consumer consumer"}],"tags":["Consumer"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/consumer--consumer"}}}}},"\/crop\/freeform":{"post":{"summary":"collection post","description":"@todo Add descriptions","parameters":[{"name":"body","in":"body","description":"The crop object","required":true,"schema":{"$ref":"#\/definitions\/crop--freeform"}}],"tags":["Ritaglia - Freeform"],"responses":[]}},"\/crop\/freeform\/{entity}\/crop_type":{"get":{"summary":"crop_type get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop freeform"}],"tags":["Ritaglia - Freeform"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/crop--freeform"}}}}},"\/crop\/freeform\/{entity}\/relationships\/crop_type":{"post":{"summary":"crop_type post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop freeform"}],"tags":["Ritaglia - Freeform"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/crop--freeform"}}}}},"\/crop\/freeform\/{entity}":{"patch":{"summary":"individual patch","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop freeform"}],"tags":["Ritaglia - Freeform"],"responses":[]}},"\/crop\/freeform\/{entity}\/revision_uid":{"get":{"summary":"revision_uid get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop freeform"}],"tags":["Ritaglia - Freeform"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/crop--freeform"}}}}},"\/crop\/freeform\/{entity}\/relationships\/revision_uid":{"post":{"summary":"revision_uid post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop freeform"}],"tags":["Ritaglia - Freeform"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/crop--freeform"}}}}},"\/crop_type\/crop_type":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Crop type"],"responses":{"200":{"description":"successful operation"}}}},"\/crop_type\/crop_type\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the crop_type crop_type"}],"tags":["Crop type"],"responses":{"200":{"description":"successful operation"}}}},"\/date_format\/date_format":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Formato data"],"responses":{"200":{"description":"successful operation"}}}},"\/date_format\/date_format\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the date_format date_format"}],"tags":["Formato data"],"responses":{"200":{"description":"successful operation"}}}},"\/editor\/editor":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Editor di testo"],"responses":{"200":{"description":"successful operation"}}}},"\/editor\/editor\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the editor editor"}],"tags":["Editor di testo"],"responses":{"200":{"description":"successful operation"}}}},"\/embed_button\/embed_button":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Embed button"],"responses":{"200":{"description":"successful operation"}}}},"\/embed_button\/embed_button\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the embed_button embed_button"}],"tags":["Embed button"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_browser\/entity_browser":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Entity browser"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_browser\/entity_browser\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the entity_browser entity_browser"}],"tags":["Entity browser"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_form_display\/entity_form_display":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Visualizzazione del form dell\u0027entit\u00e0"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_form_display\/entity_form_display\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the entity_form_display entity_form_display"}],"tags":["Visualizzazione del form dell\u0027entit\u00e0"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_form_mode\/entity_form_mode":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Modalit\u00e0 form"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_form_mode\/entity_form_mode\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the entity_form_mode entity_form_mode"}],"tags":["Modalit\u00e0 form"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_view_display\/entity_view_display":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Visualizzazione dell\u0027entit\u00e0"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_view_display\/entity_view_display\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the entity_view_display entity_view_display"}],"tags":["Visualizzazione dell\u0027entit\u00e0"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_view_mode\/entity_view_mode":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Modo di visualizzazione"],"responses":{"200":{"description":"successful operation"}}}},"\/entity_view_mode\/entity_view_mode\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the entity_view_mode entity_view_mode"}],"tags":["Modo di visualizzazione"],"responses":{"200":{"description":"successful operation"}}}},"\/field_config\/field_config":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Campo"],"responses":{"200":{"description":"successful operation"}}}},"\/field_config\/field_config\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the field_config field_config"}],"tags":["Campo"],"responses":{"200":{"description":"successful operation"}}}},"\/field_storage_config\/field_storage_config":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Memorizzazione campo"],"responses":{"200":{"description":"successful operation"}}}},"\/field_storage_config\/field_storage_config\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the field_storage_config field_storage_config"}],"tags":["Memorizzazione campo"],"responses":{"200":{"description":"successful operation"}}}},"\/file\/file":{"post":{"summary":"collection post","description":"@todo Add descriptions","parameters":[{"name":"body","in":"body","description":"The file object","required":true,"schema":{"$ref":"#\/definitions\/file--file"}}],"tags":["File"],"responses":[]}},"\/file\/file\/{entity}":{"patch":{"summary":"individual patch","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the file file"}],"tags":["File"],"responses":[]}},"\/file\/file\/{entity}\/uid":{"get":{"summary":"uid get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the file file"}],"tags":["File"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/file--file"}}}}},"\/file\/file\/{entity}\/relationships\/uid":{"post":{"summary":"uid post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the file file"}],"tags":["File"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/file--file"}}}}},"\/filter_format\/filter_format":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Formato del testo"],"responses":{"200":{"description":"successful operation"}}}},"\/filter_format\/filter_format\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the filter_format filter_format"}],"tags":["Formato del testo"],"responses":{"200":{"description":"successful operation"}}}},"\/image_style\/image_style":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Stile immagine"],"responses":{"200":{"description":"successful operation"}}}},"\/image_style\/image_style\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the image_style image_style"}],"tags":["Stile immagine"],"responses":{"200":{"description":"successful operation"}}}},"\/key\/key":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Key"],"responses":{"200":{"description":"successful operation"}}}},"\/key\/key\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the key key"}],"tags":["Key"],"responses":{"200":{"description":"successful operation"}}}},"\/key_config_override\/key_config_override":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Key Configuration Override"],"responses":{"200":{"description":"successful operation"}}}},"\/key_config_override\/key_config_override\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the key_config_override key_config_override"}],"tags":["Key Configuration Override"],"responses":{"200":{"description":"successful operation"}}}},"\/language_content_settings\/language_content_settings":{"get":{"summary":"collection get","description":"@todo Add descriptions","parameters":[{"name":"filter","in":"query","type":"array","required":false},{"name":"sort","in":"query","type":"array","required":false},{"name":"page","in":"query","type":"array","required":false}],"tags":["Impostazioni per la lingua dei contenuti"],"responses":{"200":{"description":"successful operation"}}}},"\/language_content_settings\/language_content_settings\/{entity}":{"get":{"summary":"individual get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the language_content_settings language_content_settings"}],"tags":["Impostazioni per la lingua dei contenuti"],"responses":{"200":{"description":"successful operation"}}}},"\/media\/audio_file\/{entity}\/bundle":{"get":{"summary":"bundle get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the media audio_file"}],"tags":["Media - Audio file"],"responses":{"200":{"description":"successful operation","schema":{"$ref":"#\/definitions\/media--audio_file"}}}}},"\/media\/audio_file\/{entity}\/relationships\/bundle":{"post":{"summary":"bundle post","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the media audio_file"}],"tags":["Media - Audio file"],"responses":{"201":{"description":"Entity created","schema":{"$ref":"#\/definitions\/media--audio_file"}}}}},"\/media\/audio_file":{"post":{"summary":"collection post","description":"@todo Add descriptions","parameters":[{"name":"body","in":"body","description":"The media object","required":true,"schema":{"$ref":"#\/definitions\/media--audio_file"}}],"tags":["Media - Audio file"],"responses":[]}},"\/media\/audio_file\/{entity}\/field_media_audio_file":{"get":{"summary":"field_media_audio_file get","description":"@todo Add descriptions","parameters":[{"name":"entity","required":true,"in":"path","type":"uuid","description":"The uuid of the medi
[...]
