---
swagger: '2.0'
schemes:
- https
info:
  description: This is a JSON API compliant implemenation
  title: drupal-headless - JSON API
  version: Versioning not supported
host: drupal.danilospinelli.com
basePath: "/jsonapi"
securityDefinitions:
  jwt_auth:
    type: unknown
    description: Unknown Authentication Provider
  oauth2:
    type: oauth2
    flow: password
    tokenUrl: https://drupal.danilospinelli.com/oauth/token
  cookie:
    type: cookie
    in: cookie
    name: JSESSIONID
  csrf_token:
    type: apiKey
    name: X-CSRF-Token
    in: header
    tokenUrl: https://drupal.danilospinelli.com/user/token
security:
  jwt_auth: []
  oauth2: []
  cookie: []
  csrf_token: []
tags:
- name: Blocco
  description: Configuration entity Blocco
- name: Consumer
- name: Content moderation state
- name: Ritaglia - Freeform
  description: Crop type Freeform of type Ritaglia.
  x-entity-type: crop
  x-definition:
    "$ref": "#/definitions/crop__freeform"
- name: Crop type
  description: Configuration entity Crop type
- name: Editor di testo
  description: Configuration entity Editor di testo
- name: Embed button
  description: Configuration entity Embed button
- name: Entity browser
  description: Configuration entity Entity browser
- name: Campo
  description: Configuration entity Campo
- name: Memorizzazione campo
  description: Configuration entity Memorizzazione campo
- name: File
- name: Formato del testo
  description: Configuration entity Formato del testo
- name: Stile immagine
  description: Configuration entity Stile immagine
- name: Key
  description: Configuration entity Key
- name: Key Configuration Override
  description: Configuration entity Key Configuration Override
- name: Impostazioni per la lingua dei contenuti
  description: Configuration entity Impostazioni per la lingua dei contenuti
- name: Lingua
  description: Configuration entity Lingua
- name: Media type
  description: Configuration entity Media type
- name: Media - Audio file
  description: Media type Audio file of type Media. A locally hosted audio file, such
    as an MP3.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__audio_file"
- name: Media - Document
  description: Media type Document of type Media. A locally hosted document, such
    as a PDF.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__document"
- name: Media - Image
  description: Media type Image of type Media. Locally hosted images.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__image"
- name: Media - Instagram
  description: Media type Instagram of type Media. Instagram posts.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__instagram"
- name: Media - Tweet
  description: Media type Tweet of type Media. Represents a tweet.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__tweet"
- name: Media - Video
  description: Media type Video of type Media. A video hosted by YouTube, Vimeo, or
    some other provider.
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__video"
- name: Media - Video file
  description: Media type Video file of type Media. A locally hosted video file
  x-entity-type: media
  x-definition:
    "$ref": "#/definitions/media__video_file"
- name: Contenuto - Pagina base
  description: Tipo di contenuto Pagina base of type Contenuto. Utilizza <em>pagine
    di base</em> per i tuoi contenuti statici come ad esempio per una pagina 'Chi
    siamo'.
  x-entity-type: node
  x-definition:
    "$ref": "#/definitions/node__page"
- name: Tipo di contenuto
  description: Configuration entity Tipo di contenuto
- name: Page Variant
  description: Configuration entity Page Variant
- name: Page
  description: Configuration entity Page
- name: Shortcut set
  description: Configuration entity Shortcut set
- name: Shortcut link - Predefinito
  description: Shortcut set Predefinito of type Shortcut link.
  x-entity-type: shortcut
  x-definition:
    "$ref": "#/definitions/shortcut__default"
- name: OAuth2 Token Type
  description: Configuration entity OAuth2 Token Type
- name: OAuth2 token - Access Token
  description: Token type Access Token of type OAuth2 token. The access token type.
  x-entity-type: oauth2_token
  x-definition:
    "$ref": "#/definitions/oauth2_token__access_token"
- name: OAuth2 token - Auth code
  description: Token type Auth code of type OAuth2 token. The auth code type.
  x-entity-type: oauth2_token
  x-definition:
    "$ref": "#/definitions/oauth2_token__auth_code"
- name: OAuth2 token - Refresh token
  description: Token type Refresh token of type OAuth2 token. The refresh token type.
  x-entity-type: oauth2_token
  x-definition:
    "$ref": "#/definitions/oauth2_token__refresh_token"
- name: Azione
  description: Configuration entity Azione
- name: Menu
  description: Configuration entity Menu
- name: Vocabolario della tassonomia
  description: Configuration entity Vocabolario della tassonomia
- name: User
- name: Ruolo
  description: Configuration entity Ruolo
- name: Workflow
  description: Configuration entity Workflow
- name: Link personalizzato nel menu
- name: Pathauto pattern
  description: Configuration entity Pathauto pattern
- name: View
  description: Configuration entity View
- name: Sovrascrittura campo base
  description: Configuration entity Sovrascrittura campo base
- name: Formato data
  description: Configuration entity Formato data
- name: Visualizzazione del form dell'entità
  description: Configuration entity Visualizzazione del form dell'entità
- name: Visualizzazione dell'entità
  description: Configuration entity Visualizzazione dell'entità
- name: Modalità form
  description: Configuration entity Modalità form
- name: Modo di visualizzazione
  description: Configuration entity Modo di visualizzazione
definitions:
  consumer__consumer:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - consumer__consumer
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              id:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              label:
                type: string
                title: Etichetta
                maxLength: 255
                description: The consumer label.
              description:
                type: string
                title: Descrizione
                description: A description of the consumer. This text will be shown
                  to the users to authorize sharing their data to create an access
                  token.
              third_party:
                type: boolean
                title: Is this consumer 3rd party?
                description: Mark this if the organization behind this consumer is
                  not the same as the one behind the Drupal API.
                default: true
              is_default:
                type: boolean
                title: Is this the default consumer?
                description: There can only be one default consumer. Mark this to
                  use this consumer when none other applies.
                default: false
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              secret:
                type: object
                properties:
                  value:
                    type: string
                    title: La password codificata
                    maxLength: 255
                  existing:
                    type: string
                    title: Password attuale
                  pre_hashed:
                    type: boolean
                    title: Determines if a password needs hashing
                title: Secret
                description: The secret key of this client (hashed).
              confidential:
                type: boolean
                title: Is Confidential?
                description: A boolean indicating whether the client secret needs
                  to be validated or not.
                default: true
              redirect:
                type: uri
                title: Redirect URI
                maxLength: 255
                description: The URI this client will redirect to when needed.
            required:
            - id
            - uuid
            - label
          relationships:
            description: Entity relationships
            properties:
              owner_id:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: ID utente
              image:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Logo
              roles:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required:
                      - type
                      - id
                      properties:
                        type:
                          type: string
                          title: Referenced resource
                          enum:
                          - user_role__user_role
                        id:
                          type: string
                          title: Resource ID
                          format: uuid
                          maxLength: 128
                title: Scopes
              user_id:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: User
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: consumer Schema
    description: Describes the payload for 'consumer' entities.
  content_moderation_state__content_moderation_state:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - content_moderation_state__content_moderation_state
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              id:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              revision_id:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of the referenced content.
              content_entity_type_id:
                type: string
                title: Content entity type ID
                maxLength: 32
                description: The ID of the content entity type this moderation state
                  is for.
              content_entity_id:
                type: integer
                title: Content entity ID
                description: The ID of the content entity this moderation state is
                  for.
              content_entity_revision_id:
                type: integer
                title: Content entity revision ID
                description: The revision ID of the content entity this moderation
                  state is for.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
            required:
            - id
            - uuid
            - revision_id
            - moderation_state
            - content_entity_type_id
            - content_entity_id
            - content_entity_revision_id
            - revision_translation_affected
          relationships:
            description: Entity relationships
            properties:
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: User
              workflow:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - workflow__workflow
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Workflow
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: content_moderation_state Schema
    description: Describes the payload for 'content_moderation_state' entities.
  crop__freeform:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - crop__freeform
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              cid:
                type: integer
                title: Crop ID
                description: The crop ID.
              uuid:
                type: string
                title: UUID
                maxLength: 128
                description: The crop UUID.
              vid:
                type: integer
                title: ID revisione
                description: The crop revision ID.
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Codice della lingua
                description: The node language code.
              entity_id:
                type: integer
                title: ID Entità
                description: ID of entity crop belongs to.
              entity_type:
                type: string
                title: Tipo di entità
                maxLength: 255
                description: The type of entity crop belongs to.
              uri:
                type: uri
                title: URI
                maxLength: 255
                description: The URI of the image crop belongs to.
              height:
                type: integer
                title: Altezza
                description: The crop height.
              width:
                type: integer
                title: Larghezza
                description: The crop width.
              x:
                type: integer
                title: X coordinate
                description: The crop\'s X coordinate.
              y:
                type: integer
                title: Y coordinate
                description: The crop\'s Y coordinate.
              revision_timestamp:
                type: number
                title: Data e ora della revisione
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log:
                type: string
                title: Revision Log
                description: La registrazione sul log che spiega le modifiche in questa
                  revisione.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
            required:
            - cid
            - uuid
            - vid
            - entity_id
            - entity_type
            - height
            - width
            - x
            - y
            - revision_translation_affected
          relationships:
            description: Entity relationships
            properties:
              type:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - crop_type__crop_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Tipo
              revision_uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision author ID
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: crop:freeform Schema
    description: Describes the payload for 'crop' entities of the 'freeform' bundle.
  file__file:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - file__file
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              fid:
                type: integer
                title: ID file
                description: ID del file.
              uuid:
                type: string
                title: UUID
                maxLength: 128
                description: UUID del file.
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Codice della lingua
                description: Codice lingua del file.
              filename:
                type: string
                title: Nome file
                maxLength: 255
                description: Nome del file senza componenti del percorso.
              uri:
                type: object
                properties:
                  value:
                    type: uri
                    title: Valore URI
                    maxLength: 255
                  url:
                    type: string
                    title: Root-relative file URL
                required:
                - value
                - url
                title: URI
                description: L\' URI per accedere al file (locale o remoto).
              filemime:
                type: string
                title: Tipo MIME del file
                maxLength: 255
                description: Tipo MIME del file.
              filesize:
                type: integer
                title: Dimensione file
                description: La dimensione del file in bytes.
              status:
                type: boolean
                title: Stato
                description: Gli stati del file, temporaneo (FALSE) e permanente (TRUE)
                default: false
              created:
                type: number
                title: Created
                format: utc-millisec
                description: Data e ora in cui il file è stato creato.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: Data e ora in cui il file è stato modificato.
            required:
            - fid
            - uuid
          relationships:
            description: Entity relationships
            properties:
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: ID utente
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: file Schema
    description: Describes the payload for 'file' entities.
  media__audio_file:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__audio_file
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
              field_media_audio_file:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Audio file
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:audio_file Schema
    description: Describes the payload for 'media' entities of the 'audio_file' bundle.
  media__document:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__document
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
              field_document:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Document
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:document Schema
    description: Describes the payload for 'media' entities of the 'document' bundle.
  media__image:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__image
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
              image:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Image
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:image Schema
    description: Describes the payload for 'media' entities of the 'image' bundle.
  media__instagram:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__instagram
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              embed_code:
                type: string
                title: Instagram post
                description: Paste media post URL or embed code.
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
            - embed_code
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:instagram Schema
    description: Describes the payload for 'media' entities of the 'instagram' bundle.
  media__tweet:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__tweet
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              embed_code:
                type: string
                title: Tweet
                description: Paste tweet\'s URL or embed code.
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
            - embed_code
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:tweet Schema
    description: Describes the payload for 'media' entities of the 'tweet' bundle.
  media__video:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__video
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
              field_media_video_embed_field:
                type: string
                title: Video URL
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
            - field_media_video_embed_field
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:video Schema
    description: Describes the payload for 'media' entities of the 'video' bundle.
  media__video_file:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - media__video_file
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              mid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_created:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log_message:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Pubblicato
                default: true
              name:
                type: string
                title: Name
                maxLength: 255
                default: ''
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: The time the media item was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time the media item was last edited.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_media_in_library:
                type: boolean
                title: Show in media library
                default: 1
            required:
            - mid
            - uuid
            - vid
            - name
            - revision_translation_affected
            - path
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - media_type__media_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Media type
              revision_user:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              thumbnail:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Miniatura
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
              field_media_video_file:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - file__file
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Video file
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: media:video_file Schema
    description: Describes the payload for 'media' entities of the 'video_file' bundle.
  node__page:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - node__page
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              nid:
                type: integer
                title: ID
              uuid:
                type: string
                title: UUID
                maxLength: 128
              vid:
                type: integer
                title: ID revisione
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
              revision_timestamp:
                type: number
                title: Revision create time
                format: utc-millisec
                description: La data e l\'ora in cui la revisione corrente è stata
                  creata
              revision_log:
                type: string
                title: Revision log message
                description: Descrivere brevemente le modifiche apportate.
                default: ''
              status:
                type: boolean
                title: Stato di pubblicazione
                description: A boolean indicating whether the node is published.
                default: 0
              title:
                type: string
                title: Titolo
                maxLength: 255
              created:
                type: number
                title: Creato il
                format: utc-millisec
                description: Data e ora in cui il nodo è stato creato.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: Data e ora in cui il nodo è stato modificato l\'ultima
                  volta.
              promote:
                type: boolean
                title: Promoted to front page
                default: 0
              sticky:
                type: boolean
                title: Sempre in cima agli elenchi
                default: false
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
              revision_default:
                type: boolean
                title: Default revision
                description: A flag indicating whether this was a default revision
                  when it was saved.
              revision_translation_affected:
                type: boolean
                title: Traduzione della revisione interessata
                description: Indica se l\'ultima modifica di una traduzione fa riferimento
                  alla revisione attuale.
              moderation_state:
                type: string
                title: Moderation state
                maxLength: 255
                description: The moderation state of this piece of content.
              scheduled_transition_date:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                      title: Valore della data
                      format: date
                  required:
                  - value
              scheduled_transition_state:
                type: array
                items:
                  type: string
                  title: Valore testuale
                  maxLength: 255
              path:
                type: object
                properties:
                  alias:
                    type: string
                    title: Alias di percorso
                  pid:
                    type: integer
                    title: Id percorso
                  langcode:
                    type: string
                    title: Language Code
                  pathauto:
                    type: integer
                    title: Pathauto state
                    description: Whether an automated alias should be created or not.
                required:
                - pathauto
                title: Alias URL
              field_testo_semplice:
                type: string
                title: Testo semplice
              body:
                type: object
                properties:
                  value:
                    type: string
                    title: Testo
                  format:
                    type: string
                    title: Formato del testo
                  summary:
                    type: string
                    title: Sommario
                required:
                - value
                title: Corpo
              field_campo_booleano:
                type: boolean
                title: Campo booleano
                default: 0
            required:
            - nid
            - uuid
            - vid
            - title
            - revision_translation_affected
            - path
          relationships:
            description: Entity relationships
            properties:
              type:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - node_type__node_type
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Tipo di contenuto
              revision_uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Revision user
              uid:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - user__user
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Creato da
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: node:page Schema
    description: Utilizza pagine di base per i tuoi contenuti statici come ad esempio
      per una pagina \'Chi siamo\'.
  shortcut__default:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - shortcut__default
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              id:
                type: integer
                title: ID
                description: L\'ID della scorciatoia.
              uuid:
                type: string
                title: UUID
                maxLength: 128
                description: UUID della scorciatoia.
              langcode:
                type: object
                properties:
                  value:
                    type: string
                    title: Codice della lingua
                  language:
                    type: language_reference
                    title: Oggetto lingua
                    description: La lingua indicata.
                required:
                - value
                title: Lingua
                description: Codice lingua della scorciatoia
              title:
                type: string
                title: Name
                maxLength: 255
                description: Il nome della scorciatoia.
              weight:
                type: integer
                title: Peso
                description: Weight among shortcuts in the same shortcut set.
              link:
                type: object
                properties:
                  uri:
                    type: uri
                    title: URI
                  title:
                    type: string
                    title: Testo del collegamento
                title: Percorso
                description: La posizione a cui punta questa scorciatoia.
              default_langcode:
                type: boolean
                title: Traduzione di default
                description: Un campo che indica se questa è la traduzione predefinita.
                default: true
            required:
            - id
            - uuid
            - title
            - link
          relationships:
            description: Entity relationships
            properties:
              shortcut_set:
                type: object
                properties:
                  data:
                    type: object
                    required:
                    - type
                    - id
                    properties:
                      type:
                        type: string
                        title: Referenced resource
                        enum:
                        - shortcut_set__shortcut_set
                      id:
                        type: string
                        title: Resource ID
                        format: uuid
                        maxLength: 128
                title: Shortcut set
            type: object
          links:
            type: object
            description: Entity links
            properties:
              self:
                type: string
                format: uri
                description: The absolute link to this entity.
    title: shortcut:default Schema
    description: Describes the payload for 'shortcut' entities of the 'default' bundle.
  oauth2_token__access_token:
    type: object
    required:
    - data
    additionalProperties: false
    properties:
      data:
        type: object
        properties:
          type:
            type: string
            title: type
            description: Resource type
            enum:
            - oauth2_token__access_token
          id:
            type: string
            title: Resource ID
            format: uuid
            maxLength: 128
          attributes:
            description: Entity attributes
            type: object
            properties:
              id:
                type: integer
                title: ID
                description: The ID of the Access Token entity.
              uuid:
                type: string
                title: UUID
                maxLength: 128
                description: The UUID of the Access Token entity.
              value:
                type: string
                title: Token
                maxLength: 128
                description: The token value.
              created:
                type: number
                title: Created
                format: utc-millisec
                description: The time that the entity was created.
              changed:
                type: number
                title: Changed
                format: utc-millisec
                description: The time that the entity was last edited.
              expire:
                type: number
                title: Expire
                format: utc-millisec
                description: The time when the token expires.
              status:
                type: boolean
                title: Stato di pubblicazione
                description: A boolean indicating whether the token is available.
                default: true
            required:
            - id
            - uuid
            - value
            - expire
          relationships:
            description: Entity relationships
            properties:
              bundle:
                type: object
                properties:
[...]
